body {
  background-color: rgb(238, 235, 235);
}
h1 {
  font-size: 4rem;
  color: rgb(70, 54, 109);
  text-align: center;
  transition: 1s;
}

h1:hover {
  color: rgb(236, 200, 235);
  cursor: pointer;
}
p {
  font-size: 2rm;
  color: rgb(46, 46, 102);
}
